<div id="<%= dom_id link_item %>">
  <p>
    <strong>Url:</strong>
    <%= link_item.url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= link_item.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= link_item.icon %>
  </p>

</div>
