<p style="color: green"><%= notice %></p>

<h1>Link items</h1>

<div id="link_items">
  <% @link_items.each do |link_item| %>
    <%= render link_item %>
    <p>
      <%= link_to "Show this link item", link_item %>
    </p>
  <% end %>
</div>

<%= link_to "New link item", new_link_item_path %>
