.circle-icon {
    width: 50px;
    /* Tamanho desejado para o ícone */
    height: 50px;
    border-radius: 50%;
    /* Forma de círculo */
    overflow: hidden;
    /* Garante que a imagem dentro do círculo não ultrapasse */
    border: 2px solid #ccc;
    /* Borda opcional para o círculo */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    display: flex;
}

.circle-icon img {
    max-width: 100%;
    /* A imagem ocupa 100% do círculo */
    max-height: 100%;
    /* A imagem ocupa 100% do círculo */
}

.card-link {
    display: flex;
    align-items: center;
    padding-left: 2%;
    flex-grow: 1;
}